{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "mocha": true
    },
    "sourceType": "module"    
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended", "loopback"],
  "rules": {
    "semi": 2,
    "no-console": 0,
    "object-curly-spacing": 0,
    "max-len": 0
  }
}